@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}
body{
    background-color: black;
}
.main{
    background-image: url("./content.jpg"); 
    height: 90vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main .box{
    height: 90vh;
    width:100%;
    opacity:0.68;
    background-color: black;
    position: absolute;
    top:0px;
}
nav{
    max-width: 80vw;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img{
    position: relative;
    z-index: 10;

}
nav select{
    position: relative;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 10;
}
.content{
    font-family: 'Martel Sans',sans-serif;
    color:aliceblue;
    position: relative;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
    padding: 0px 30px;
    height: calc(100% - 100px);

}
.content> :first-child{
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}
.content>:nth-child(2){
    font-weight: 400;
    font-size: 23px;
    text-align: center;
}
.content>:nth-child(3){
    font-weight: 400;
    font-size: 22px;
    text-align: center;
}
.line{
    height: 7px;
    background-color: rgb(47, 46, 46);
}
.btn{
    font-weight: bold;
    background-color: red;
    color: aliceblue;
    border:2px solid red;
    border-radius: 4px;
}
.redg{
    padding:7px 30px;
    font-size: 20px;
    font-weight: 700;
}
.redsn{
    padding:5px 20px;
    font-weight: 600;

}
 input{
    background: transparent;
    color: aliceblue;
    padding:13px 101px 11px 14px;
    font-size: 14px;
    border-radius: 4px;
    
}
.main select{
    background: transparent;
    color: aliceblue;
    padding:5px 20px;
    border-radius: 4px;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}
.first{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: aliceblue;
    justify-content: center;
    align-items: center;
}
.secimg{
    position: relative;
}
.secimg img{
    width:555px;
    position: relative;
    z-index: 10;
    margin-top: 7px;
    padding:20px 30px 20px 30px;
}
.secimg video{
    position: absolute;
  width: 435px;
  right: 64px;
  top: 74px;
  padding:20px 20px;
   
}
section.first> div{
    display: flex;
    flex-direction: column;
    gap:10px;
    padding: 34px 0px;
}
.tag>:nth-child(1){
    font-size: 48px;
    font-weight: bolder;
}
.tag>:nth-child(2){
    font-size: 20px;
    font-weight: 300;
}
.tag>:nth-child(3){
    font-size: 20px;
    font-weight: 300;
}
.third video{
    position: absolute;
    top:59px;
    right: 99px;
    width:345px;
    padding:30px 30px;
}
.faq h1{
    text-align: center;
    font-size: 40px;
    color:#f0f8ff ;
}
.faq{
    background-color: black;
    color: #f0f8ff;
    text-align: center;
    padding-top: 24px;
    font-size: 24px;
}
.faqbox{
    display: flex;
    justify-content: space-between;
    background-color: rgb(47, 46, 46) ;
    padding: 21px;
    font-size: 24px;
    max-width: 60vw;
    margin:21px auto;
    color:#f0f8ff;
}
.faqbox:hover{
    background-color:red;
    color: #f0f8ff;

}
.last{
    padding: 20px ;
    padding-bottom: 40px;
}
.last span{
    padding: 15px;
}
.end input{
    padding: 16px 101px 11px 14px;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color:#f0f8ff;
   
}
.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #f0f8ff;
    gap: 23px;
    margin-top: 30px;
}
.footer a{
    font-size: 14px;
    color: #f0f8ff;
}
footer{
    color: #f0f8ff;
  max-width: 60vw;
    margin: auto;
    padding: 34px;
}
footer span{
    text-align: center;
   padding: 33px 0px;
}

@media screen and (max-width:1300px){
    nav{
        max-width: 90vw;
    }
    .first{
        flex-wrap: wrap;
    }
    .secimg img {
        width: 401px;
        position: relative;
        z-index: 10;
        margin-top: 2px;
        padding: 20px 30px 20px 30px;
      }
      .secimg video {
        position: absolute;
        width: 325px;
        right: 64px;
        top: 74px;
        padding: 20px 20px;
      }
      .third video{
        position: absolute;
        top:59px;
        right: 72px;
        width:265px;
        padding:30px 30px;
    }
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        color:#f0f8ff;
       
    }
    .content> :first-child{
        font-weight: 900;
        font-size: 32px;
        text-align: center;
    }
    .content>:nth-child(2){
        font-weight: 400;
        font-size: 18px;
        text-align: center;
    }
    .content>:nth-child(3){
        font-weight: 400;
        font-size: 18px;
        text-align: center;
    }
    .button{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .redg
    {
        margin-top: 10px;
    }
    .faq h1{
        font-size: 32px;
    }
    .faqbox{
        font-size: 18px;
    }
    .tag>:nth-child(1){
        font-size: 36px;
        font-weight: bolder;
    }
    .tag>:nth-child(2){
        font-size: 18px;
        font-weight: 300;
    }
    .tag>:nth-child(3){
        font-size: 18px;
        font-weight: 300;
    }
    footer{
        max-width: 90vw;
    }

}

